<div class="container card-shadow">
  <div class="monitors">
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_up</i> <span class="inter">{{latestSystolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
    <div class="heartbeat">
      <i class="material-symbols-rounded toolbar-icons">ecg_heart</i> <span class="inter">{{latestHeartbeat | number: '1.0-0'}} ppm</span>
    </div>
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_down</i> <span class="inter">{{latestDiastolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
  </div>
  <span class="spacer"></span>
  <div style="display: flex; justify-content: center;">
    <div style="width: 80%;">
      <canvas id="myChart3">
    </canvas></div>
  </div>
  <div>
    <ion-button class="btn" expand="block">
      <span class="material-symbols-rounded toolbar-icons">cast</span>
      &nbsp;
      <div></div>
      <span class="inter" style="margin-left: 3vw;">Sincronizar dispositivo</span>
    </ion-button>
  </div>
</div>