.toolbar-header {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 90%;
    height: 72px;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.toolbar-footer {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 90%;
    height: 72px;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.toolbar-title {
    text-align: center;
    //font-size: 24px;
    font-weight: bolder;
    width: fit-content;
    margin: 0 auto;
    padding-inline: 0px;
}
  
.toolbar-icons {
    font-size: 32px;
}
  
.tab_container{
    display: flex; justify-content: space-around;
        .tab_button{
        margin: auto;
            display: inline-block;
        }
}

ion-button {
    text-transform: none;
    height: 72px;
    width: 80px;
}

.card-shadow{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }