<ion-toolbar class="toolbar-header card-shadow">
  <ng-container *ngIf="title === 'Inicio'; else diferente">
    <ion-buttons slot="start">
      <ion-button color="primary" class="material-symbols-rounded toolbar-icons" (click)="clickedConfig()">settings</ion-button>
    </ion-buttons>
  </ng-container>
  <ng-template #diferente>
    <ion-buttons slot="start">
      <ion-button (click)="myBackButton()" color="primary" style="font-weight: 700;" class="material-symbols-rounded toolbar-icons">arrow_back</ion-button>
    </ion-buttons>
  </ng-template>
  
  <ion-title color="primary" class="toolbar-title inter">
    {{title}}
  </ion-title>
  <ion-buttons slot="end">
      <ion-button color="primary" class="material-symbols-rounded toolbar-icons">help_outline</ion-button>
  </ion-buttons>
</ion-toolbar>