<div class="container card-shadow">
  <div style="margin-bottom: 0.5vh;">
    <h5 style="margin: 0; justify-content: center; text-align: center;" class="inter">¿Por qué se envió la alerta?</h5>
  </div>
  <div class="monitors">
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_up</i> <span class="inter">{{latestSystolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
    <div class="heartbeat">
      <i class="material-symbols-rounded toolbar-icons">ecg_heart</i> <span class="inter">{{latestHeartbeat | number: '1.0-0'}} ppm</span>
    </div>
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_down</i> <span class="inter">{{latestDiastolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
  </div>
  <div style="display: flex; justify-content: center; align-items: center; margin-top: 1vh;" class="heart_animation">
    <ion-button color="danger" (click)="openModal()">
      <i slot="icon-only" class="material-symbols-rounded toolbar-icons">e911_emergency</i>
    </ion-button>
  </div>
</div>