<div class="container card-shadow">
  <ion-img class="contact-image" src="assets/image/edilberto_large.png"></ion-img>

  <br>

  <ion-item class = "text-row" lines="none">
    <span slot = "start" class="material-symbols-rounded">account_circle</span>
    <ion-label class="ion-text-wrap">
      {{contact.name}}
    </ion-label>
  </ion-item>

  <ion-item class = "text-row" lines="none">
    <span slot = "start" class="material-symbols-rounded">call</span>
    <ion-label class="ion-text-wrap">
      {{contact.phone}}
    </ion-label>
  </ion-item>

  <ion-item class = "text-row" lines="none">
    <span slot = "start" class="material-symbols-rounded">badge</span>
    <ion-input placeholder="Ingresa un apodo" [value]="newContactNickname" (input)="onNameInput($event)"></ion-input>
  </ion-item>
  
  <br>

  <ion-item class="grid-selector" lines="none">
    <ion-grid>
      <ion-row>
        <ion-col>Tipo de Contacto</ion-col>
        <ion-col>
          <ion-button class="type-button" (click)="clickedConfianza()">
            <ion-img [src]="confianzaImage"></ion-img>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="type-button" (click)="clickedMedico()">
            <ion-img [src]="medicoImage"></ion-img>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>