
  

<div class="container">
  <ion-toolbar class="my-modal-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <i slot="icon-only" class="material-symbols-rounded toolbar-icons" style="color: var(--ion-color-danger-shade);">cancel</i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="monitors">
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_up</i> <span class="inter">{{latestSystolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
    <div class="heartbeat">
      <i class="material-symbols-rounded toolbar-icons">ecg_heart</i> <span class="inter">{{latestHeartbeat | number: '1.0-0'}} ppm</span>
    </div>
    <span class="spacer"></span>
    <div class="latest">
      <i class="material-symbols-rounded toolbar-icons">keyboard_double_arrow_down</i> <span class="inter">{{latestDiastolic | number: '1.0-0'}}</span>
    </div>
    <span class="spacer"></span>
  </div>
  <span class="spacer"></span>
  <div style="display: flex; justify-content: center;">
    <div style="width: 90%;">
      <canvas id="myChart2">
    </canvas></div>
  </div>
</div>