<ion-header [translucent]="true">
  <app-header [title]="'Registro'" [ruta]="'registration-screen'"></app-header>
</ion-header>

<ion-content color="light">
  <div class="main">
    <div id="progress" style="width: 75%; margin: 5% auto;">
      <div id="progress-bar"></div>
      <ul id="progress-num">
        <li class="step active"></li>
        <li class="step active"></li>
        <li class="step"></li>
      </ul>
    </div>

    <div style="display: flex; width: 100%;">
      <div class="spacer"></div>
      <div class="type-selector unactive card-shadow" (click)="clickedMainType()" [ngClass]="{'active': mainButtonColor === 'primary'}">
        <div class="spacer"></div>
        <span class="inter">Principal</span>
      </div>
      <div class="spacer"></div>
      <div class="type-selector unactive card-shadow" (click)="clickedContactType()" [ngClass]="{'active': contactButtonColor === 'primary'}">
        <div class="spacer"></div>
        <span class="inter">Contacto de Emergencia</span>
      </div>
      <div class="spacer"></div>
    </div>

    <ion-button id="next-button" class="btn" (click)="clickedNext()">
      <span class="inter" style="font-weight: 600; font-size: 20px;">Siguiente</span>
    </ion-button>
  </div>
</ion-content>
