<div class="container card-shadow">
  <div style="height: 50%; display: flex; justify-content: center; margin: 0 auto; align-items: center;">
    <img class="contact-image" src="../../../assets/image/edilberto_large.png">
  </div>
  <div class="inputs">
    <div class="spacer"></div>
    <div class="row">
      <div class="">
        <span class="inter subtitle">Nombre</span>
      </div>
      <div class="">
        <span class="inter title">{{activeUser.name}}</span>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="">
        <span class="inter subtitle">Teléfono</span>
      </div>
      <div class="">
        <span class="inter title">{{activeUser.phone}}</span>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<ion-button class="edit-button" (click)="clickedEditProfile()">
  <i class="material-symbols-rounded">save_as</i>
  &nbsp;
  Editar Perfil
</ion-button>

<ion-button class="logout-button" (click)="logoutUser()">
  <i class="material-symbols-rounded">logout</i>
  &nbsp;
  Cerrar Sesión
</ion-button>