<ion-tabs style="background-color: var(--ion-color-light);">
  <ion-tab-bar slot="bottom" class="card-shadow">

    <ion-tab-button tab="control" layout="icon-top">
      <span class="material-symbols-rounded toolbar-icons">ecg_heart</span>
      <ion-label>Control</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" layout="icon-top">
      <i class="material-symbols-rounded toolbar-icons">home</i>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contacts" layout="icon-top">
      <i class="material-symbols-rounded toolbar-icons">contacts</i>
      <ion-label>Contactos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>