<ion-header [translucent]="true">
</ion-header>

<ion-content color="light">
  <div class="container card-shadow">
    <div class="logo-container">
      <ion-img class="app-logo" src="assets/icon/vital_logo.svg"></ion-img>
      <ion-label class="app-title">Vital</ion-label>
    </div>
  </div>

  <div class="sub-container card-shadow">
    <ion-button class="btn" expand="block" (click)="goToPage('login-screen')">
      <span class="inter">Iniciar Sesión</span>
    </ion-button>

    <br>
    <br>

    <ion-button class="btn" expand="block" (click)="goToPage('registration-screen')">
      <span class="inter">Registrarse</span>
    </ion-button>
  </div>
</ion-content>