ion-header {
    box-shadow: none;
}


.add-contact-button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 90%;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    text-size-adjust: 100%;
    font-size: large;
    font-weight: bold;

    --border-radius: 25px;

    margin-bottom: 3%;
}

.material-symbols-rounded{
    font-size: xx-large;
}

.white {
    color: white;
}