<ion-header [translucent]="true">
  <app-header [title]="'Iniciar sesión'" [ruta]="'start-screen'"></app-header>
</ion-header>

<ion-content color = "light">
  <div class="main">
    <div class="container card-shadow">
        <ion-img class="app-logo" src="assets/icon/vital_logo.svg"></ion-img>
        <div class="spacer"></div>
        <ion-label class="app-title inter" style="font-size: 42px; font-weight: 900;">Vital</ion-label>
    </div>
  
    <div class="paragraph">
      <ion-label class="para-title inter">
        ¡Bienvenido de vuelta!
      </ion-label>
      <br>
      <ion-label class="para-description inter">
        Ingresa tus datos para iniciar sesión.
      </ion-label>
    </div>
  
    <app-login-info></app-login-info>
  
    <ion-button class="btn" (click)="loginUser()">
      <span class="inter" style="font-weight: 600; font-size: 20px;">Confirmar</span>
    </ion-button>
  </div>
</ion-content>
