ion-header {
    box-shadow: none;
}

ion-button::part(native) span.button-inner {
    flex-direction: column !important;
  }
  

.next-button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    text-size-adjust: 100%;
    font-size: large;
    font-weight: bold;

    --border-radius: 25px;

    margin-bottom: 3%;
}