ion-header {
    box-shadow: none;
    background-color: var(--ion-color-light);
}

ion-button::part(native) span.button-inner {
    flex-direction: column !important;
  }
  

.next-button{
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    max-width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: none;
    text-size-adjust: 100%;
    font-size: large;
    font-weight: bold;

    --border-radius: 25px;

    margin-bottom: 3%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.spacer {
    margin: auto;
}

span .inter {
    font-weight: 900;
}

.btn {
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    height: 16vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: none;
    text-size-adjust: 80%;
    --border-radius: 25px;
    width: 75%;
}

#progress {
    position: relative;
    margin-bottom: 30px;   
  }

  #progress-bar {
    position: absolute;
    background: lightseagreen;
    height: 5px;
    width: 0%;
    top: 50%;
    left: 0;
  }

  #progress-num {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  #progress-num::before {
    content: "";
    background-color: lightgray;
    position: absolute;
    top: 50%;
    left: 0;
    height: 5px;
    width: 100%;
    z-index: -1;
  }

  #progress-num .step {
    border: 3px solid lightgray;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #fff;
    font-family: sans-serif;
    font-size: 14px;    
    position: relative;
    z-index: 1;
  }

  #progress-num .step.active {
    border-color: lightseagreen;
    background-color: lightseagreen;
    color: #fff;
  }