<div class="container card-shadow">
  <div>
    <ion-button color="primary" class="btn" expand="block">
      <span class="material-symbols-rounded toolbar-icons">youtube_searched_for</span>
      &nbsp;
      <div></div>
      <span class="inter" style="margin-left: 3vw;">Ver historial</span>
    </ion-button>
  </div>
  <div class="valores">
    <div class="row">
      <label class="input-title inter card-shadow">
        Ritmo cardíaco
      </label>
      <ion-input placeholder="_ _ _">

      </ion-input>
    </div>
    <div class="row">
      <label class="input-title inter card-shadow">
        Presión sistólica
      </label>
      <ion-input placeholder="_ _ _">
        
      </ion-input>
    </div>
    <div class="row">
      <label class="input-title inter card-shadow">
        Presión diastólica
      </label>
      <ion-input class="ion-padding-horizontal" type="number" placeholder="_ _ _" text-center>
        
      </ion-input>
    </div>
  </div>
  <div>
    <ion-button color="danger" class="btn" expand="block">
      <span class="material-symbols-rounded toolbar-icons">cardiology</span>
      &nbsp;
      <div></div>
      <span class="inter" style="margin-left: 3vw;">Agregar presión</span>
    </ion-button>
  </div>
</div>