<div class="container card-shadow">
  <div>
    <ion-button color="primary" class="btn" expand="block" (click)="goToHistory()">
      <span class="material-symbols-rounded toolbar-icons">youtube_searched_for</span>
      &nbsp;
      <div></div>
      <span class="inter" style="margin-left: 3vw;">Ver historial</span>
    </ion-button>
  </div>
  <div class="valores" *ngIf="activeUser.userType === 'main'">
    <div class="row">
      <label class="input-title inter card-shadow">
        Ritmo cardíaco
      </label>
      <ion-input [maxlength]="3" type="number" placeholder="_ _ _" (input)="onHeartbeatInput($event)">

      </ion-input>
    </div>
    <div class="row">
      <label class="input-title inter card-shadow">
        Presión sistólica
      </label>
      <ion-input [maxlength]="3" type="number" placeholder="_ _ _" (input)="onSystolicInput($event)">
        
      </ion-input>
    </div>
    <div class="row">
      <label class="input-title inter card-shadow">
        Presión diastólica
      </label>
      <ion-input [maxlength]="3" type="number" class="ion-padding-horizontal" (input)="onDiastolicInput($event)" placeholder="_ _ _" text-center>
        
      </ion-input>
    </div>
  </div>
  <div *ngIf="activeUser.userType === 'main'">
    <ion-button color="danger" class="btn" expand="block" (click)="clickedAddPressure()">
      <span class="material-symbols-rounded toolbar-icons">cardiology</span>
      &nbsp;
      <div></div>
      <span class="inter" style="margin-left: 3vw;">Agregar presión</span>
    </ion-button>
  </div>
</div>